body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
margin: 0;
color: white;
display: inline-block;
margin: 20px;
}

p {
  color: white;
}

a {
  color: white;
}

.main {
  text-align: center;
}

.signOut, .signIn {
  width: 130px;
  height: 40px;
  text-align: center;
}

.signIn, .signOut {
  display: inline-block;
  vertical-align: text-bottom;
  background-color: whitesmoke !important;
  color: #1e0769 !important;
  border-radius: 12px;
}

:link{ text-decoration: none; padding: 1vw;}

.public {background-color: rgb(197, 197, 197); height:calc(100vh - 142px);padding-right: 10px;}

.private {background-color: rgb(197, 197, 197); height:calc(100vh - 142px);padding-right: 10px;}

.public, .private {
  padding-left: 18px;
  padding-top: 1px;
}

.warning {
  background-color: #690721 !important;
  padding: 5px 8px 12px 0px;
  margin: 0;
  border-radius: 20px !important;
}

.welcome {
  background-color: #07694f !important;
  padding: 2px 12px 12px 12px;
  color: white !important;
  border-radius: 20px !important;
}

.card {
  background-color: white !important;
  width: fit-content;
  padding: 48px;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
  margin: auto !important;
  width: 100%;
  text-align: center !important;
  height: 90px;
  background:#1e0769 !important;
}

.nav {
  background:#1e0769;
  height: 50px;
  width: 100%;
  text-align: center;
  color: white !important;
}